/* {
    outline: 1px solid orange;
}*/
.container {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    font-family: Verdana;
    font-size: 14px;


}

.features {
    width: 180px;
    color: white;

}

.feat {
    display: flex;
    justify-content: space-between;

}

.columnleft {
    width: 440px;
}

.columnright {
    width: 440px;
    margin-left: 80px;
}

.rocket {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mainmenu {
    width: 960px;
    font-size: 14px;
}

.foot {
    width: 180px;

    min-height: 200px;
    color: white;


}

.mar {
    margin-top: 85px;
}

.smalltext {
    font-size: 13px;
    color: darkgray;
}

header {
    background-color: #222222;
    padding: 80px 0px;
}

.adv {
    background-color: #131313;
    padding: 80px 0px;
}

.vacation {
    background-color: #ffffff;
    padding: 80px 0px;
}

.request {
    background-color: #f0f0f0;
    padding: 80px 0px;
}

.footl {
    width: 180px;
    
    min-height: 200px;
    color: white;
}

.timetable {
    background-color: #222222;
    padding: 80px 0px;
    color: white;
}

footer {
    background-color: #131313;
    padding: 80px 0px;
}

.menu {
    margin-left: 30px;
    display: flex;
    color: aliceblue;
    font-size: 12px;

}

.menu1 {
    margin-left: 30px;


}

.menumar {
    margin-left: 520px;
}

.mainmenu {
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

.ff {
    display: flex;
}

.mf {
    margin-top: 25px;
    margin-left: 15px;
}

.intro {
    display: flex;


}

.columnleftrocket {
    width: 440px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.columnleftrocket *{
    margin-left: 132px;
}

.marf {
    border-bottom: 1px solid #555555;
    padding-bottom: 20px;
    font-weight: bold;
}

.Cour {
    font-family: Courier New;
    font-size: 45px;
    width: 245px;
    min-height: 105px;
    font-weight: bold;
    padding-bottom: 60px;

}

h2 {
    font-family: Courier New;
    font-size: 24px;
    margin-bottom: 50px;
}

/*.fh {
    margin-top: 80px;
}*/
.recomendation {
    padding: 0px 0px 80px 0px;
}

.select {
    padding-bottom: 60px;
}



.arrow {
    margin-left: 60px;
}

.BOLD {
    font-weight: bold;
}

.table {
    width: 960px;
    border: 0px;
    border-collapse: collapse;
}

.tablehead {
    background-color: #111111;
    text-align: left;
}

th,
td {
    padding: 20px 0px;

    border-bottom: 1px solid #555555;
}

td:first-child,
th:first-child {
    padding-left: 20px;

}

.tabledescr {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;


}

.forms {
    padding: 20px;
    border: 0px;
    width: 440px;
}

/*.button {
    border: 15px solid;
    border-radius: 25px;
    font-weight: bolder;
    line-height: 14px;
    text-trans: uppercase;
    position: relative;
}

.btngrey::after {
    content: '';
    background-image: url('arrowb.png');
    width: 19px;
    height: 16px;
    position: absolute;
    right: 0px;
    top: 0px;
}
*/
.button {
    position: relative;
    display: inline-block;
    width: 195px;
    padding: 0 25px;
    font-weight: bold;
    font-size: 14px;
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 50px;

}

.button::after {
    content: "";
    position: absolute;

    right: 20px;
    top: 17px;

    width: 19px;
    height: 16px;
    background-repeat: no-repeat;
}

.btnyellow {
    color: #222222;
    background-color: #ffcb06;
}

.btnyellow::after {
    background-image: url('img/1.png');
}

.btnyellow:hover {
    background-color: #ffffff;
}

.btngrey {
    color: #ffffff;
    background-color: #222222;
}

.btngrey::after {
    background-image: url('img/2.png');
}

.btngrey:hover {
    background-color: #676767;
}

.columnform {
    width: 440px;
    color: white;
    display: flex;
    flex-direction: column;
}

h3 {
    color: #feca30;
}

ul {
    list-style: none;
    padding-left: 0;
}

.ulyellow li::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 5px;

    background-color: #feca30;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-repeat: no-repeat;
}


.ulyellow li {
    position: relative;
    margin-left: 20px;
}

.link {
    color: #feca30;
    border-bottom: 1px solid;
}

.headyellow {
    font-family: Courier New;
    font-size: 24px;
    color: #feca30;
    font-weight: bold;
}

.width {
    width: 91%;
}

.swidth {
    width: 50%;
}

.margf {
    margin-left: 20px;
}

a {
    border-bottom: 0px;
    color: inherit;
    text-decoration: none;
}

.recom {
    margin-bottom: 30px;

}

.pup {
    font-family: sans-serif;
    font-size: 14px;
}
